<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <pipelines>
      <initialize>
        <processor type="Sitecore.Support.Cloud.Xdb.UpdateXdbConnectionStrings, Sitecore.Support.155426" patch:after="processor[@type='Sitecore.Cloud.Xdb.UpdateXdbConnectionStrings, Sitecore.Cloud.Xdb']" />
      </initialize>
    </pipelines>
    
    <settings>
      <setting name="connectTimeoutMS" value="1000" />
      <setting name="socketTimeoutMS" value="1000" />
    </settings>
    
  </sitecore>
</configuration>